@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 601px) {
  .container {
    width: 80%;
  }
}

* {
  margin: 0;
  padding: 0;
}

[theme="dark"] {
  --light-purple: #804dcf;
  --pink: #da4ee0;
  --light-blue: #15caf7;
  --dark-purple: #43226c;
  --dark-blue: #2c8dca;
  --dark-gray: #1a1a1a;
  --light-gray: #ececec;
  --background-color: #0e0e0e;
  --shadow: rgba(0, 0, 0, 0.5);
  --other-gray: #3e3e3e;
  --mainColor: rgba(0, 0, 0, 0.4);
  --themeColor: #2c8dca;
  --rounded: 10px;
  --sub-gray: #131313;
  --ba-wi: black;
  --white: #ececec;
  --center-gray: #0e0e0e;
  --star1: #1b2735;
  --star2: #090a0f;
  --shadow-slider: #15caf7;
  --shadow-slider-hover: #2c8dca;
  --red: #c43939;
}

[theme="light"] {
  --light-purple: #b39ddb;
  --pink: #f48fb1;
  --light-blue: #81d4fa;
  --dark-purple: #7e57c2;
  --dark-blue: #42a5f5;
  --dark-gray: #e0dede;
  --light-gray: #1a1a1a;
  --background-color: #cac7c7;
  --shadow: rgba(0, 0, 0, 0.5);
  --other-gray: #3e3e3e;
  --mainColor: rgba(0, 0, 0, 0.4);
  --themeColor: #000000;
  --rounded: 10px;
  --sub-gray: #131313;
  --ba-wi: black;
  --white: #ececec;
  --center-gray: #0e0e0e;
  --star1: #2c0546;
  --star2: #dcdcdc;
  --shadow-slider: #1c0c2c;
  --shadow-slider-hover: #9a69b1;
  --red: #c43939;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}
