.styleButton {
  background-color: var(--shadow-slider);
  color: white;
  padding: 0.875rem 1.25rem;
  margin: 0.5rem 0;
  border: none;
  cursor: pointer;
  width: 9.375rem;
  border-radius: 0.5rem;
  position: absolute;
}

.styleButton:hover {
  background-color: var(--shadow-slider-hover);
}

.customOverlay {
  background-color: var(--shadow);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.customModal {
  color: var(--light-gray);
  width: 50%;
  height: auto;
  margin: auto;
  background-color: var(--background-color);
  padding: 1.25rem;
  outline: none;
}

.question-container {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h2 {
  color: var(--light-gray);
  text-align: left;
  margin-left: 0.625rem;
  margin-top: 0.625rem;
}

.close {
  background-color: transparent;
  border: none;
  color: var(--light-gray);
  font-size: 2rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}

.close:hover {
  color: var(--dark-gray);
}

.create {
  background: var(--shadow-slider);
  padding: 1rem 2rem;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 0.5rem;
  color: var(--dark-gray);
  border-radius: 0.5rem;
  cursor: pointer;
}
.create:hover {
  background: var(--shadow-slider-hover);
}

.create-close {
  background: var(--dark-gray);
  padding: 1rem 2rem;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 0.5rem;
  color: var(--light-gray);
  border-radius: 0.5rem;
  cursor: pointer;
}

.create-close:hover {
  background: var(--red);
}

.button-container {
  margin-top: 1rem;
}

li {
  list-style-type: none;
  margin-top: 0.5rem;
  color: var(--pink);
  margin-left: 0.5rem;
}

ul {
  padding: 0;
  border: 1px solid var(--pink);
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}
